body {
  position: relative;
  margin: 0;
  font-family: "Smythe", "Inter", "Verdana", sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 24px;
  color: #fff;
}

h3 {
  color: #fff;
  font-size: 1.4rem;
  line-height: 13.798px;
}
header {
  background-color: goldenrod;
  background: url(/headerimg.jpeg);
  background-size: cover;
  background-position: center top 50%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  margin:auto 2rem auto 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.menu-list {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}

.food-icon {
  align-self: center;
  justify-self: center;
  font-size: 4.5rem;
}
.food-text {
  margin-left: 2rem;
  margin-right: auto;
}

.food--name {
  font-size: 1.75em;
  margin-top: 0.2em;
}

.food--desc {
  color: #8b8b8b;
}

.food--price {
  font-size: 1.25em;
}

.addBtn {
  margin-top: 0.5rem;
  position: relative;
  border-radius: 50%;
  border: 1px lightgray solid;
  width: 50px;
  height: 50px;
}
.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  font-family: "Inter";
  font-weight: lighter;
  transform: translate(-50%, -50%);
  color: #3c3c3c;
}

.orderTitle {
  text-align: center;
  font-size: 1.75em;
  margin-top: 1.5rem;
}

.orderedItems {
  border-bottom: 2px solid #393333;
}

.container .selected {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.selectedFoodName {
  font-size: 1.75em;
}

.selectedFoodPrice {
  font-size: 1.25em;
  margin-left: auto;
}

.removeBtn {
  font-size: 0.7em;
  color: #bbb;
  font-family: "Inter", sans-serif;
}

.totalPrice {
  display: flex;
  margin-top: 1rem;
  font-size: 1.5em;
  align-items: center;
}
.total {
  margin-left: auto;
  font-size: 0.7em;
}

.submitBtn {
  width: 100%;
  margin-top: 1rem;
  padding: 18px 175px 18px 194px;
  align-items: center;
  border-radius: 3.8px;
  background: #16db99;
  border: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

form {
  display: none;
  flex-direction: column;
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1rem;
  box-shadow: 0 30px 50px 30px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 3.8px;
}

form.show {
  display: flex;
}

input {
  border-radius: 3.8px;
  border: solid 1px #757575;
  padding: 1rem;
}

form > div {
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-family: "Verdana";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 31.119px;
}

.orders {
  display: none;
}

.successMsg {
  display: none;
  margin-top: 1rem;
  text-align: center;
  padding: 1em;
  color: #065f46;
  font-size: 1.8em;
  border-radius: 3.8px;
  background: #ecfdf5;
}
