body {
  position: relative;
  margin: 0;
  font-family: "Smythe", "Inter", "Verdana", sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 0.5em;
}

h3 {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 0;
}
header {
  background-color: goldenrod;
  background: url(/headerimg.jpeg);
  background-size: cover;
  background-position: center top 80%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.menu-list {
  display: flex;
  align-items: center;
  padding:0.2em 0;
  border-bottom: 1px solid lightgrey;
}

.food-icon {
  align-self: center;
  justify-self: center;
  font-size: 3.5rem;
}
.food-text {
  margin-left: 2em;
  margin-right: auto;
}

.food--name {
  font-size: 1.75rem;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
}

.food--desc {
  color: #8b8b8b;
  margin-top: 0.4em;
  margin-bottom: 0;
}

.food--price {
  font-size: 1.25rem;
  margin-top: 0.4em;
  margin-bottom: 0.5em;
}

.addBtn {
  position: relative;
  margin-top: 0.5em;
  border-radius: 50%;
  border: 1px lightgray solid;
  width: 3.1em;
  height: 3.1em;
}
.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.2rem;
  font-family: "Inter";
  font-weight: lighter;
  transform: translate(-50%, -50%);
  color: #3c3c3c;
}

.orderTitle {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 1.5em;
}

.orderedItems {
  border-bottom: 2px solid #393333;
}

.container .selected {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
  gap: 0.5em;
}

.selectedFoodName {
  font-size: 1.75rem;
}

.selectedFoodPrice {
  font-size: 1.25rem;
  margin-left: auto;
}

.removeBtn {
  font-size: 0.8rem;
  color: #bbb;
  font-family: "Verdana", sans-serif;
}

.totalPrice {
  display: flex;
  margin-top: 1em;
  font-size: 1.5rem;
  align-items: center;
}
.total {
  margin-left: auto;
  font-size: 1.5rem;
}

.submitBtn {
  width: 100%;
  margin-top: 1em;
  padding:0.8em 0;
  border-radius: 3.8px;
  background: #16db99;
  border: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

form {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 70%;
  max-width: 600px;

  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1em;
  box-shadow: 0 30px 50px 30px rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 3.8px;
}

form.show {
  display: flex;
}

input {
  border-radius: 3.8px;
  border: solid 1px #757575;
  padding: 1em;
}

form > div {
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-family: "Verdana";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2em;
}

.orders {
  display: none;
}

.successMsg {
  display: none;
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  color: #065f46;
  font-size: 1.8rem;
  border-radius: 3.8px;
  background: #ecfdf5;
}
